
body {
	color: red;
	background-color: powderblue;
}

h1 {
    text-align: center;
    /*font-family: "Source Sans Pro", sans-serif;*/
    font-weight: normal;
    /*text-decoration: underline;*/
    color: red;
}

a {
	/*background-color:pink;*/
	font-family: "Source Sans Pro", sans-serif;
}

p {
	color: red;
}


