
body {
	color: red;
	background-color: powderblue;
}

h1 {
    text-align: center;
    /*font-family: "Source Sans Pro", sans-serif;*/
    font-weight: normal;
    /*text-decoration: underline;*/
    color: red;
}

a {
	/*background-color:pink;*/
	font-family: "Source Sans Pro", sans-serif;
}

p {
	color: red;
}

a:link {
  color: #1a73e8;
}

/* 2. Visited state */
a:visited {
  color: #a142f4;
}

/* 3. Hover state (Mouseover) */
a:hover {
  color: #1557b0;
}

/* 4. Active state (While being clicked) */
a:active {
  color: #d93025;
}
